<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мирэль</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header-logo">
            <div class="container">
                <div class="header__logo">
                    <a class="header__logo-title" href="index.html"> Мирэль </a>
                    <div class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <header class="header-nav">
            <div class="container">
                <nav class="header__menu">

                    <ul class="header__menu-list">
                        <li><a href="about.html">О компании</a></li>
                        <li><a href="method.html">Методика</a></li>
                        <li><a href="algorithm.html">Алгоритм исследования</a></li>
                        <li><a href="science.html">Научные работы</a></li>
                    </ul>
                </nav>
        </header>
        <section class="section-algorithm">

            <div class="section-algorithm__wrap">
                <div class="section-algorithm__title">
                    <h1>Алгоритм исследования</h1>
                </div>
                <div class="section-algorithm__imageblock imageblock5">
                    <div class="section-algorithm__index">
                        <div class="section-algorithm__index-wrap">
                            <p>1. У пациента по итогам УЗИ диагностирован узел/узлы в щитовидной железе.
                            </p>
                            <p>2. Пациенту выполняют тонкоигольную биопсию в любом специализированном медицинском учреждении. С целью проведения цитологического исследования полученный клеточный материал наносят на стекла. В основе классификации узлов при
                                данном методе исследования лежит международная система – Bethesda, включающая 6 классификационных категорий. От Bethesda I до Bethesda VI - от “ хорошего к плохому”.</p>
                        </div>
                    </div>
                    <div class="imageblock5__bg ibg"><img src="img/bcg.png" alt=""></div>
                </div>
                <div class="section-algorithm__note">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10.5" cy="10.5" r="10.5" fill="#FF0000"/>
                    </svg>

                    <p>НО! В этой системе есть две так называемые “серые зоны”.</p>
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10.5" cy="10.5" r="10.5" fill="#FF0000"/>
                    </svg>


                </div>

            </div>
        </section>
        <section class="section-algorithm-2">
            <div class="section-algorithm-2-wrap">
                <div class="section-algorithm-2-wrap__block">
                    <p>Bethesda III – “атипия неясного значения”. В данном случае пациента будут отправлять на повторное перепунктирование до тех пор, пока не поставят более определенный диагноз, либо врач не примет решение провести диагностическое удаление
                        “сомнительного узла ЩЖ”. </p>
                    <p> Bethesda IV – “фолликулярная опухоль/подозрение на фолликулярную опухоль”. Рекомендовано диагностическое удаление соответствующей доли ЩЖ с целью ее более точного исследования. </p>
                </div>
                <div class="section-algorithm-2-wrap__block">
                    <h3>Основная цель нашего метода: исключить диагностическое удаление щитовидной железы.</h3>
                </div>
            </div>
        </section>
        <section class="section-algorithm-3">
            <div class="section-algorithm3__imageblock imageblock5">
                <div class="section-algorithm-3-wrap">
                    <div class="section-algorithm-3-wrap__text">
                        <p>Мы проводим молекулярно-генетический анализ материала узла ЩЖ, нанесенного на стекло при пунктировании.</p>
                        <p>Основные плюсы данного диагностического подхода:</p>
                    </div>
                    <div class="section-algorithm-3-wrap__w">
                        <div class="section-algorithm-3-wrap__block">
                            <div class="section-algorithm-3-wrap__block-p">
                                <p class="section-algorithm-3-wrap-p">1. Не требуется дополнительных процедур забора материала у пациента.
                                </p>
                                <p>“Описание, почему это хорошо и чего можно избежать”<br> .<br> .<br> .<br> .<br> .<br> .<br> “Описание, почему это хорошо и чего можно избежать”</p>
                            </div>
                        </div>
                        <div class="section-algorithm-3-wrap__block">
                            <div class="section-algorithm-3-wrap__block-p">
                                <p class="section-algorithm-3-wrap-p">2. Анализ дополняет уже имеющееся заключение.
                                </p>
                                <p>“Описание, почему это хорошо и чего можно избежать”<br> .<br> .<br> .<br> .<br> .<br> .<br>“Описание, почему это хорошо и чего можно избежать”</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="imageblock5__bg ibg"><img src="img/bcg-alg.png" alt=""></div>
            </div>

        </section>
        <section class="section-analysis">
            <div class="section-analysis__block">
                <p class="section-analysis__block-p"> Молекулярно-генетический анализ позволяет классифицировать узел ЩЖ с оценкой возможного риска злокачественности новообразования:<br> 1) Доброкачественный узел (риск злокачественности менее 5%);<br> 2) Фолликулярная опухоль без молекулярных
                    маркеров злокачественности (риск злокачественности ~8%); <br> 3) Фолликулярная опухоль с молекулярными маркерами злокачественности (риск злокачественности 81%); <br> 4) Фолликулярная опухоль с молекулярными маркерами злокачественности,
                    В-клеточный вариант (риск злокачественности 83%); <br> 5) Папиллярный рак без мутации BRAF V600E (риск злокачественности 95%); <br> 6) Папиллярный рак c мутацией BRAF V600E (риск злокачественности более 99%); <br> 7) Медуллярная карцинома
                    (риск злокачественности более 99%).</p>

            </div>
            <div class="section-analysis__color"></div>
        </section>
        <section class="section-form">
            <div class="section-form__wrap">
                <form action="" method="POST" class="section-form__form">
                    <div class="section-form__inform">
                        <h1>Если у вас есть вопрос, вы можете оставить его в данной форме</h1>
                        <div class="section-form__inform-wrap">
                            <input type="text" class="section-form__inform-name" placeholder="Ваше имя" id="name" v-model="name">
                            <input type="text" class="section-form__inform-mail" placeholder="Ваша почта" id="mail" v-model="phone">
                        </div>
                        <textarea id="comment" name="comment" cols="40" rows="3" placeholder="Напишите здесь, чтобы вы хотели спросить у нас"></textarea>
                    </div>
                    <div class="section-form__communication">
                        <img src="img/pain.png" alt="Иконка" width="127" height="124">
                        <p>После того, как мы обработаем ваш вопрос, ответ придёт к вам на почту</p>
                        <input type="button" value="Отправить" class="section-form__button">
                    </div>
                </form>
            </div>
        </section>
        <footer class="footer-block">
            <div class="footer-block__container">
                <div class="footer-block__info footer">
                    <!-- 33,333% -->
                    <div class="footer__list">
                        <a href="#">info@rtpcr.ru</a>

                    </div>
                    <div class="footer__partners">
                        <p>Мирэль</p>
                    </div>
                    <div class="footer__contact">
                        <span class="footer__contact-item">designed by BrightstarMountain</span>
                    </div>

                </div>
            </div>
        </footer>
        </div>
    </div>
</body>

<script src="js/script.js"></script>
<script>
    function sendForm() {
        let name = document.getElementById('name').value;
        let mail = document.getElementById('mail').value;
        let comment = document.getElementById('comment').value;

        const request = new XMLHttpRequest();
        const url = 'back.php';
        const body = "name=" + name + "&mail=" + mail + "&comment=" + comment;

        request.open('POST', url, true);
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        console.log(body);
        request.send(body);
    }
</script>

</html>