<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мирэль</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header-logo">
            <div class="container">
                <div class="header__logo">
                    <a class="header__logo-title" href="index.html"> Мирэль </a>
                    <div class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <header class="header-nav">
            <div class="container">
                <nav class="header__menu">
                    <ul class="header__menu-list">
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="about.html">О компании</a></li>
                        <li><a href="method.html">Методика</a></li>
                        <li><a href="algorithm.html">Алгоритм исследования</a></li>
                        <li><a href="science.html">Научные работы</a></li>
                    </ul>
                </nav>
        </header>
        <section class="metod-section">
            <div class="metod-section__title">
                <h1>Методика</h1>
            </div>
            <div class="metod-section__text">
                <p>Информация представленная на данной странице в большей степени необходима специалистам</p>
            </div>
            <div class="metod-section__block"></div>
        </section>
        <section class="metod-section-categori">
            <div class="metod-section-categori__imageblock imageblock">
                <div class="metod-section-categori__row">
                    <div class="metod-section-categori__info">
                        <h2>Узловые образования щитовидной железы</h2>
                        <p>По распространенности узловые образования щитовидной железы (ЩЖ) доминируют среди патологий
                            эндокринной системы. Из них ~7% являются злокачественными и требуют оперативного
                            вмешательства, решение о котором принимается на основании
                            дооперационного диагноза. Основным методом дооперационной диагностики является
                            цитологическое исследование препаратов, полученных тонкоигольной аспирационной пункционной
                            биопсией (ТАПБ). В настоящее время используются несколько
                            систем классификации цитологических диагнозов (British Thyroid Association-Royal College of
                            Pathologists, Bethesda System for Reporting Thyroid Cytopathology, или Итальянского
                            консенсуса по цитологии щитовидной железы (Italian
                            AME Consensus). </p>
                    </div>>
                </div>

                <div class="imageblock__bg ibg"><img src="img/bvg-metod.png" alt=""></div>
            </div>
        </section>
        <div class="metod-section-categori__wrap">
            <div class="metod-section-categori__item">
                <p>Во всех случаях эти диагнозы разделяют на 5 основных категорий: </p>
                <div class="metod-section-categori__index">
                    <div class="metod-section-categori__block">
                        <img src="img/number-1.png" alt="Цифра1" width="23" height="67">
                        <span>Не диагностическая</span>
                    </div>
                    <div class="metod-section-categori__block">
                        <img src="img/number-2.png" alt="Цифра1" width="46" height="67">
                        <span>Доброкачественная</span>
                    </div>
                    <div class="metod-section-categori__block">
                        <img src="img/number-3.png" alt="Цифра1" width="64" height="67">
                        <span>Неопределенная</span>
                    </div>
                    <div class="metod-section-categori__block">
                        <img src="img/number-4.png" alt="Цифра1" width="73" height="67">
                        <span>Подозрение на злокачественность</span>
                    </div>
                    <div class="metod-section-categori__block">
                        <img src="img/number-5.png" alt="Цифра1" width="64" height="67">
                        <span>Злокачественная</span>
                    </div>
                </div>
            </div>
            <!-- <div class="metod-section-categori__none">

            </div> -->
        </div>
        <section class="metod-section-number3">
            <div class="metod-section-number3__wrap">
                <div class="metod-section-number3__block">
                    <p class="metod-section-number3__title">Наиболее опасной является неопределенная</p>
                </div>
                <img src="img/arrow.png" alt="Стрелка" width="104" height="113">
                <div class="metod-section-number3__block">
                    <p class="metod-section-number3__about">Неопределенные цитологические результаты получаются в 10-35%
                        случаев, при риске злокачественности, в среднем, в пределах 15-30%.
                    </p>
                </div>
            </div>
        </section>
        <section class="metod-section-number4">
            <div class="metod-section-number4__block">
                <h2>Неопределенная категория</h2>
                <p>Данная категория включает гетерогенную группу образцов, для которых невозможно точно установить
                    доброкачественность или злокачественность поражения ЩЖ на основе цитоморфологических характеристик.
                    По гистологическому заключению эти образцы
                    чаще всего соответствуют: аденоматоидной гиперплазии, фолликулярной аденоме, реже карциноме,
                    опухолям из клеток Гюртля, фолликулярному варианту папиллярного рака и т.д. В соответствии с
                    клиническими рекомендациями, большинство пациентов
                    с неопределенным цитологическим заключением (в том числе все, относящиеся к категории Bethesda IV)
                    направляются на операцию или молекулярное тестирование. </p>
            </div>
        </section>
        <section class="metod-section-number5">
            <div class="metod-section-number5__color"></div>
            <div class="metod-section-number5__imageblock imageblock">
                <div class="metod-section-number5__index">
                    <div class="metod-section-number5__info">
                        <p>При этом от 70% до 80% узлов щитовидной железы по результатам послеоперационного
                            гистологического исследования оказываются доброкачественными, а сама операция – ненужной.
                            Риск послеоперационных осложнений и послеоперационный гипотиреоз,
                            требующий пожизненной заместительной гормональной терапии, существенно снижают качество
                            жизни. </p>
                    </div>
                    <div class="metod-section-number5__wrap">
                        <div class="metod-section-number5__block">
                            <p>Таким образом, возможность делить образцы с неопределенной цитологией на
                                доброкачественные и злокачественные позволит снизить количество хирургических
                                вмешательств и последующий риск осложнений.</p>
                        </div>
                        <div class="metod-section-number5__block">
                            <p>Чтобы преодолеть диагностические ограничения цитологического исследования, в последние
                                годы было разработано несколько молекулярных тестов. </p>
                        </div>
                    </div>
                </div>
                <div class="imageblock__bg ibg"><img src="img/bcg-metod-block.png" alt="Фоновое изображение"></div>
            </div>
            <div class="metod-section-number5__color"></div>
        </section>
        <section class="metod-section-number6">
            <p class="metod-section-number6__p">На данный момент на практике (в США) для дооперационной диагностики уже
                используются новые диагностические решения
            </p>
            <div class="">
                <div class="metod-section-number6__block">
                    <h2>Основанные на выявлении соматических мутаций </h2>
                    <p>(ThyroSeq®, CBLPath)</p>
                </div>
                <div class="metod-section-number6__block1">
                    <h2>На анализе профилей экспрессии множества белок-кодирующих генов</h2>
                    <p>(Afirma® Gene Expression Classifier и Genomic Sequencing Classifier, Veracyte)</p>
                </div>
                <div class="metod-section-number6__block">
                    <h2>МикроРНК - профилировании </h2>
                    <p>(Rosetta GXReveal, Rosetta Genomics)</p>
                </div>
                <div class="metod-section-number6__block1">
                    <h2> Или комбинации анализа соматических мутаций и микроРНК</h2>
                    <p> (ThyGenX/ThyraMIR, Interpace diagnostics)</p>
                </div>
            </div>
        </section>
        <div class="metod-section-number7__color"></div>
        <section class="metod-section-number7">
            <div class="metod-section-number7__block">
                <h2>Существующие решения</h2>
                <p>При относительно высокой заявленной отрицательной предсказательной ценности (от 91% для Rosetta
                    GXReveal до 96% для ThyroSeq 2.0), применяющиеся на практике решения демонстрируют менее высокую
                    положительную предсказательную ценность результата
                    анализа (40-80% для разных тестов). Все это в совокупности с высокой стоимостью анализа (3000-3500$
                    для одного пациента) ограничивает возможности их широкого использования в клинической практике. </p>
            </div>
        </section>
        <div class="metod-section-number7__color"></div>
        <section class="metod-section-number8">
            <div class="metod-section-number8__block">
                <p>При относительно высокой заявленной отрицательной предсказательной ценности (от 91% для Rosetta
                    GXReveal до 96% для ThyroSeq 2.0), применяющиеся на практике решения демонстрируют менее высокую
                    положительную предсказательную ценность результата
                    анализа (40-80% для разных тестов). Все это в совокупности с высокой стоимостью анализа (3000-3500$
                    для одного пациента) ограничивает возможности их широкого использования в клинической практике. </p>
            </div>
        </section>
        <div class="metod-block-number9">
            <div class="metod-block-number9__block">
                <p>Диагностические характеристики определения злокачественных опухолей молекулярным классификатором
                    разработанный нами(включая 95% ДИ).</p>
            </div>
        </div>
        <div class="section-table">
            <table>
                <thead>
                    <tr>
                        <th class="col1"></th>
                        <th class="col2">Bethesda III+IV</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col1">Специфичность</td>
                        <td class="col2">92,9% (85,3-97,4%)</td>

                    </tr>
                    <tr>
                        <td class="col1">Чувствительность</td>
                        <td class="col2">89,2% (74,6-97,0%)</td>

                    </tr>
                    <tr>
                        <td class="col1">Положительная предсказательная ценность</td>
                        <td class="col2">84,6% (71,6-92,3%)</td>

                    </tr>
                    <tr>
                        <td class="col1">Отрицательная предсказательная ценность</td>
                        <td class="col2">95,2% (88,6-98,0%)</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <section class="section-form">
            <div class="section-form__wrap">
                <form action="" method="POST" class="section-form__form">
                    <div class="section-form__inform">
                        <h1>Если у Вас есть вопрос, Вы можете оставить его в данной форме</h1>
                        <div class="section-form__inform-wrap">
                            <input type="text" class="section-form__inform-name" placeholder="Ваше имя" id="name"
                                v-model="name">
                            <input type="text" class="section-form__inform-mail" placeholder="Ваша почта" id="mail"
                                v-model="phone">
                        </div>
                        <textarea id="comment" name="comment" cols="40" rows="3"
                            placeholder="Напишите здесь, чтобы вы хотели спросить у нас"></textarea>
                    </div>
                    <div class="section-form__communication">
                        <img src="img/pain.png" alt="Иконка" width="127" height="124">
                        <p>После того, как мы обработаем Ваш вопрос, ответ придёт к Вам на почту</p>
                        <input type="button" value="Отправить" class="section-form__button">
                    </div>
                </form>
            </div>
        </section>
        <footer class="footer-block">
            <div class="footer-block__container">
                <div class="footer-block__info footer">
                    <!-- 33,333% -->

                    <!-- 33,333% -->
                    <div class="footer__list">
                        <a href="#">info@rtpcr.ru</a>

                    </div>
                    <div class="footer__partners">
                        <p>Мирэль</p>
                    </div>
                    <div class="footer__contact">
                        <span class="footer__contact-item">designed by BrightstarMountain</span>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</body>
<script src="js/script.js"></script>
<script>
    function sendForm() {
        let name = document.getElementById('name').value;
        let mail = document.getElementById('mail').value;
        let comment = document.getElementById('comment').value;

        const request = new XMLHttpRequest();
        const url = 'back.php';
        const body = "name=" + name + "&mail=" + mail + "&comment=" + comment;

        request.open('POST', url, true);
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");


        request.send(body);
    }
</script>

</html>