<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мирэль</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header-logo">
            <div class="container">
                <div class="header__logo">
                    <a class="header__logo-title" href="index.html"> Мирэль </a>
                    <div class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <header class="header-nav">
            <div class="container">
                <nav class="header__menu">
                    <ul class="header__menu-list">
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="about.html">О компании</a></li>
                        <li><a href="method.html">Методика</a></li>
                        <li><a href="algorithm.html">Алгоритм исследования</a></li>
                        <li><a href="science.html">Научные работы</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="science-title">
            <div class="container">
                <div class="science-title__block">
                    <h1>Научные работы</h1>
                    <p>На данной странице вы можете ознакомиться с научными работами наших сотрудников и руководителей
                    </p>
                </div>
            </div>
        </section>
        <section class="science-info">
            <div class="science-info__wrap">
                <div class="science-info__imageblock imageblock2">
                    <div class="imageblock2__row">
                        <div class="imageblock2__column">
                            <div class="imageblock2__num"> 1 </div>
                            <a href="science/get_abit_card.pdf">
                                <div class="imageblock2__block">
                                    Sergei E. Titov, Mikhail K. Ivanov, Elena V. Karpinskaya, Elena V. Tsivlikova,
                                    Sergei P. Shevchenko, Yulia A. Veryaskina, Larisa G. Akhmerova, Tatiana L. Poloz,
                                    Olesya A. Klimova, Lyudmila F. Gulyaeva, Igor F. Zhimulev, Nikolay N. Kolesnikov.
                                    miRNA profiling,
                                    detection of BRAF V600E mutation and RET-PTC1 translocation in patients from
                                    Novosibirsk oblast (Russia) with different types of thyroid tumors // BMC Cancer.
                                    December 2016, 16:201.
                                </div>
                            </a>

                        </div>
                        <div class="imageblock2__column">
                            <div class="imageblock2__num"> 2 </div>
                            <a href="science/get_abit_card.pdf">
                                <div class="imageblock2__block">Titov S.E., Demenkov P.S., Ivanov M.K., Malakhina E.S.,
                                    Poloz T.L., Tsivlikova E.V., Ganzha M.S., Shevchenko S.P., Gulyaeva L.F., Kolesnikov
                                    N.N. Selection and validation of miRNAs as normalizers for profiling expression
                                    of microRNAs isolated from thyroid fine needle aspiration smears. Oncology Rep 36:
                                    2501- 2510, 2016.</div>
                            </a>

                        </div>
                        <div class="imageblock2__column">
                            <div class="imageblock2__num"> 3 </div>
                            <a href="science/get_abit_card.pdf">
                                <div class="imageblock2__block">Полоз ТЛ, Титов СЕ, Изупова НЮ, Колесников НН.
                                    Использование молекулярных маркеров для дополнения цитологической диагностики узлов
                                    щитовидной железы. Описание наблюдения. Новости клинической цитологии России,
                                    20(1-2): 14-17,
                                    2016.
                                </div>
                            </a>

                        </div>
                        <div class="imageblock2__column">
                            <div class="imageblock2__num"> 4 </div>
                            <a href="science/get_abit_card.pdf">
                                <div class="imageblock2__block">С.Е. Титов, М.К. Иванов, Е.В. Цивликова, М.С. Ганжа,
                                    Е.С. Малахина, А.В. Малек, Т.Л. Полоз, С.П. Шевченко, Н.Н. Колесников. Анализ
                                    относительной экспрессии гена HMGA2 и онкогенной микроРНК-221 в цитологических
                                    препаратах,
                                    полученных при тонкоигольной аспирационной биопсии узлов щитовидной железы // Успехи
                                    молекулярной онкологии. ‒ 2017. ‒ T. 4. ‒ С. 24‒31.</div>
                            </a>>

                        </div>
                        <div class="imageblock2__column">
                            <div class="imageblock2__num"> 5 </div>
                            <a href="science/get_abit_card.pdf">
                                <div class="imageblock2__block">Сергийко С.В., Лукьянов С.А., Титов С.Е., Веряскина Ю.А.
                                    Молекулярно-генетическое тестирование в дифференциальной диагностике узловых
                                    образований щитовидной железы с цитологическим заключением фолликулярная опухоль
                                    Bethesda
                                    IV. Практическая медицина. 2019. Том 17, № 4, С. 149-152.</div>
                            </a>>

                        </div>
                        <div class="imageblock2__column">
                            <div class="imageblock2__num"> 6 </div>
                            <a href="science/get_abit_card.pdf">
                                <div class="imageblock2__block">Titov S.E., Ivanov M.K., Demenkov P.S., Katanyan G.A.,
                                    Kozorezova E.S., Malek A.V., Veryaskina Y.A., Zhimulev I.F. Combined quantitation of
                                    HMGA2 mRNA, microRNAs, and mitochondrial-DNA content enables the identification
                                    and typing of thyroid tumors in fine-needle aspiration smears. BMC Cancer. 2019 Oct
                                    28;19(1):1010.</div>
                            </a>>

                        </div>
                        <div class="imageblock2__column">
                            <div class="imageblock2__num"> 7 </div>
                            <a href="science/get_abit_card.pdf">
                                <div class="imageblock2__block">Sergei Titov, Pavel S Demenkov, Sergei A Lukyanov,
                                    Sergei V Sergiyko, Gevork A Katanyan, Yulia A Veryaskina, Mikhail K Ivanov.
                                    Preoperative detection of malignancy in fine-needle aspiration cytology (FNAC)
                                    smears with indeterminate
                                    cytology (Bethesda III, IV) by a combined molecular classifier. Journal of Clinical
                                    Pathology Published Online First: 25 March 2020. doi: 0.1136/jclinpath-2020- 206445
                                </div>
                            </a>>

                        </div>
                        <div class="imageblock2__column">
                            <div class="imageblock2__num"> 8 </div>
                            <a href="science/get_abit_card.pdf">
                                <div class="imageblock2__block">Лукьянов С.А., Сергийко С.В., Титов С.Е., Решетов И.В.,
                                    Веряскина Ю.А., Важенин А.В., Гостимский А.В., Ипполитов Л.И., Рогова М.О.
                                    Стратификация риска рецидива папиллярного рака щитовидной железы на основании
                                    результатов
                                    молекулярно-генетических исследований. Опухоли головы и шеи. 2020;10(1):93-100.
                                </div>
                            </a>>

                        </div>

                    </div>
                    <div class="imageblock2__bg ibg"><img src="img/bcg-science.png" alt=""></div>
                </div>
            </div>
        </section>
        <section class="science-title">
            <div class="container">
                <div class="science-title__block">
                    <h1>Патенты</h1>
                </div>
            </div>
        </section>
        <section class="science-info">
            <div class="science-info__wrap">
                <div class="science-info__imageblock imageblock3">
                    <div class="imageblock3__row">
                        <div class="imageblock3__column">
                            <div class="imageblock3__num"> 1 </div>
                            <a href="science/get_abit_card.pdf">
                                <div class="imageblock3__block">
                                    Колесников НН, Титов СЕ, Ахмерова ЛГ, Веряскина ЮА, Иванов МК, Шевченко СП,
                                    Карпинская ЕВ, Жимулев ИФ. Способ определения доброкачественных и злокачественных
                                    новообразований щитовидной железы человека. Регистр. № 2014105810, приоритет от
                                    17.02.2014. Решение
                                    о выдаче патента от 04.02.2015. № патента 2548773.
                                </div>
                            </a>>

                        </div>
                        <div class="imageblock3__column">
                            <div class="imageblock3__num"> 2 </div>
                            <a href="science/get_abit_card.pdf">
                                <div class="imageblock3__block">Колесников НН, Титов СЕ, Ахмерова ЛГ, Веряскина ЮА,
                                    Иванов МК, Цивликова ЕС, Полоз ТЛ, Шевченко СП, Карпинская ЕВ, Жимулев ИФ. Способ
                                    дифференциальной диагностики новообразований щитовидной железы человека. Регистр. №
                                    2014140764,
                                    приоритет от 08.10.2014. Решение о выдаче патента от 17.09.15. № патента 2569154
                                </div>
                            </a>>

                        </div>
                    </div>

                    <div class="imageblock3__bg ibg"><img src="img/bcg-book.png" alt=""></div>
                </div>
            </div>
        </section>
        <section class="section-form">
            <div class="section-form__wrap">
                <form action="" method="POST" class="section-form__form">
                    <div class="section-form__inform">
                        <h1>Если у Вас есть вопрос, Вы можете оставить его в данной форме</h1>
                        <div class="section-form__inform-wrap">
                            <input type="text" class="section-form__inform-name" placeholder="Ваше имя" id="name"
                                v-model="name">
                            <input type="text" class="section-form__inform-mail" placeholder="Ваша почта" id="mail"
                                v-model="phone">
                        </div>
                        <textarea id="comment" name="comment" cols="40" rows="3"
                            placeholder="Напишите здесь, чтобы вы хотели спросить у нас"></textarea>
                    </div>
                    <div class="section-form__communication">
                        <img src="img/pain.png" alt="Иконка" width="127" height="124">
                        <p>После того, как мы обработаем Ваш вопрос, ответ придёт к Вам на почту</p>
                        <input type="button" value="Отправить" class="section-form__button">
                    </div>
                </form>
            </div>
        </section>
        <footer class="footer-block">
            <div class="footer-block__container">
                <div class="footer-block__info footer">
                    <!-- 33,333% -->

                    <!-- 33,333% -->
                    <div class="footer__list">
                        <a href="#">info@rtpcr.ru</a>

                    </div>
                    <div class="footer__partners">
                        <p>Мирэль</p>
                    </div>
                    <div class="footer__contact">
                        <!-- <a href="#">
                            <p>Наши контакты</p>
                        </a>
                        <a href="#"><img src="img/mail.png" alt="Почта"></a> -->
                        <span class="footer__contact-item">designed by BrightstarMountain</span>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <script src="js/script.js"></script>
</body>
<script>
    function sendForm() {
        let name = document.getElementById('name').value;
        let mail = document.getElementById('mail').value;
        let comment = document.getElementById('comment').value;

        const request = new XMLHttpRequest();
        const url = 'back.php';
        const body = "name=" + name + "&mail=" + mail + "&comment=" + comment;

        request.open('POST', url, true);
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        request.send(body);
    }
</script>


</html>